body {
    margin : 0;
    padding : 0;
}
#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.header {
    background-color: #d9d9d9;
    width: 100%;
    height: 50px;
    align-items : center;
    display : flex;
}

.title {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
}

.left_side {
    width: 100px;
    height: calc(100vh - 50px);
    background-color: #cdcdcd;
    text-align: center;
    
}

.top_btn, .bot_btn {
    width: 70px;
    height: 40px;
    color: white;
    font-weight: 600;
    border: 2px solid #aa7da4;
    border-radius: 5px;
    background-color: #cb99c5;
    box-shadow: 1px 1px 3px black;
}
.top_btn:hover, .bot_btn:hover {
    background-color: #aa78a4;
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
}
.top_btn:active, .bot_btn:active {
    background-color: #8c6187;
    cursor: pointer;
}
.top_btn {  
    margin-top: 30px;
}

.bot_btn {
    margin-top: 500px;
}

.main{
    width: 1500px;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main #img {
    /* width: 97%;
    height: 95%; */
    cursor: crosshair;
}

.right_side {
    width: calc(100% - 1600px);
    height: calc(100vh - 50px);
    background-color: #cdcdcd;
    
}

.right_side_component {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 10px 0px 10px;
    font-size: 20px;
}

.right_side_component_name {
    padding-bottom: 10px;
    margin-top:20px;
}

.select {
    font-size: 15px; 
}
