{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'workspace/css/workspace.css' %}" />
</head>
<body>
    <header>
        <div class="header_left_content">
            <a href="http://127.0.0.1:8000/project/upload/">
                <img src="{% static 'project/img/icon.png' %}" alt="">
            </a>
            <a class="page_name" href="http://127.0.0.1:8000/user/main/">Autolabel</a>
        </div> 
        <div class="header_center">
                <a class="header_center_content" href="/">project</a>
                <a class="header_center_content" href="/"><p>Documentation</p></a>
        </div>
        <div class="header_right_content">
            <button>
                <span>mysite</span>
            </button>                        
        </div>
    </header>
    <div class="main_header">
        <div class="workspace_name_wrap">
            <p class="workspace_name">{{ user.first_name }}`s Projects</p>
        </div>
        <div>
            <button class="create_project_btn" id="createProjectBtn" onclick="openModal()">+&nbsp;&nbsp;&nbsp;create project</button>
        </div>
    </div>
    <div class="main_container">
        {% for project_instance in project_instances %}
            <a href="http://127.0.0.1:8000/project/upload">
            <div class="project_instance_box">
                <p class="db_project_name">{{ project_instance.project_name }}</p>
                <p class="db_project_create_time">{{ project_instance.project_create_time }}</p>
            </div>
            </a>
        {% endfor %}
    </div>










    <div id="modal">
            <div class="modal_body">
                <h2>Create New Project</h2>
                <form class="modal_form" method="POST" action="{% url 'create_project' %}">
                    {% csrf_token %}
                    <label for="assign_project">Project Name</label>
                    <input class="assign_project" name="assign_project" type="text" placeholder="Input Project Name">
                    <div class="modal_cancel_or_next">
                        <button onclick="closeModal()">cancel</button>
                        <input class="create_project_btn_form" type="submit" value="+&nbsp;&nbsp;&nbsp;Create Project">
                    </div>
                </form>
            </div>
    </div>
</body>

<script>
    function openModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "flex";
    }

    function closeModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "none";
    }
</script>
</html>
