{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <link rel="stylesheet" href="{% static 'css/style_main.css' %}" />
    <title>Auto Labeling</title>
</head>
<body>
    <div class="header" role="banner">
        <div class="title">Auto Labeling</div>
    </div>
    <div id="container" role="main">
        <div class="left_side">
            <button class="top_btn">Point</button>
            <button class="top_btn">Box</button>
            <button class="bot_btn">Save</button>
            <button class="top_btn">Reset</button>
        </div>

        <div class="main">
                <img id="img" src="{% static 'images/3.jpg' %}" alt="hi">
        </div>
        
        <div class="right_side">
            <div id="output">output : </div>
            <div class="right_side_component">
                <label for="right_side_component" class="right_side_component_name">Set Parameters for FastSAM</label>
                <select name="parameters" class="select" id="parameters" size="10" multiple>
                    <option value="javascript">JavaScript</option>
                    <option value="php">PHP</option>
                    <option value="java">Java</option>
                    <option value="golang">Golang</option>
                    <option value="python">Python</option>
                    <option value="c#">C#</option>
                    <option value="C++">C++</option>
                    <option value="erlang">Erlang</option>
                </select>
            </div>
            <div class="right_side_component">
                <label for="right_side_component" class="right_side_component_name">Label List</label>
                <select name="labels" class="select" id="labels" size="10" multiple>
                    <option value="javascript">JavaScript</option>
                    <option value="php">PHP</option>
                    <option value="java">Java</option>
                    <option value="golang">Golang</option>
                    <option value="python">Python</option>
                    <option value="c#">C#</option>
                    <option value="C++">C++</option>
                    <option value="erlang">Erlang</option>
                </select>
            </div>
            <div class="right_side_component">
                <label for="right_side_component" class="right_side_component_name">Object List</label>
                <select name="objects" class="select" id="objects" size="10" multiple>
                    <option value="javascript">JavaScript</option>
                    <option value="php">PHP</option>
                    <option value="java">Java</option>
                    <option value="golang">Golang</option>
                    <option value="python">Python</option>
                    <option value="c#">C#</option>
                    <option value="C++">C++</option>
                    <option value="erlang">Erlang</option>
                </select>
            </div>
        </div>
    </div>

<script>
    var output = document.getElementById('output');
    var imgElement = document.getElementById('img');

    document.addEventListener("mousemove", logKey);
    document.addEventListener("click", logAndSubmit);

    function logKey(e) {
        e.stopPropagation();
        output.innerHTML = `X/Y: ${e.clientX}, ${e.clientY}`;
    }

    function logAndSubmit(e) {
        let formData = new FormData();
        formData.append('clickX', e.clientX);
        formData.append('clickY', e.clientY);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

        fetch('Post_xy_point/', {
            method: 'POST',
            body: formData
        })
        .then(data => {
            console.log('Success:', data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

</script>
</body>
</html>
