{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'css/start.css' %}"/>
    <title>Auto Labeling</title>
</head>
<body>
    <div class="main">
        <div class="header" role="banner">
            <div class="title">Auto Labeling</div>
        </div>
        <div class="upload_n_download">
            <div class="gray_rectangle">
                <div class="white_rectangle">
                    <form method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
                        {% csrf_token %}
                        <div class = "submit">
                            <label for="file">Select Upload Folder:</label>
                            </br>
                            <input type="file" name="file" multiple>
                        </div>
                        <button class="movetomain" type="submit">Start</button>
                    </form>

                    

                </div>
            </div>
        </div>
    </div>
</body>
</html>