<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="main">
            <div class="div">
                <div class="overlap">
                    <div class="text-wrapper">Auto Labeling</div>
                    <img class="logo" src="img/logo-1.png" />
                </div>
                <div class="overlap-group">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                    <div class="text-wrapper-2">Select Upload Folder</div>
                    <div class="rectangle-3"></div>
                    <div class="rectangle-4"></div>
                    <div class="text-wrapper-3">upload</div>
                    <div class="text-wrapper-4">Select DownLoad Folder</div>
                    <div class="text-wrapper-5">Download</div>
                    <div class="rectangle-5"></div>
                    <div class="text-wrapper-6">start</div>
                    <div class="text-wrapper-7">/Users/ijun-yong/Desktop/Project/auto_labeling/uploads/</div>
                    <div class="text-wrapper-8">/Users/ijun-yong/Desktop/Project/auto_labeling/Downloads/</div>
                </div>
            </div>
        </div>
    </body>
</html>
