body {
    display: flex;
    margin: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
/* header */
header {
    background-color: #F6F4FE; 
    display: flex;
    flex-direction: row;
    align-content: center;
}

.header_left_content {
    display: flex ;
    align-items : center;
}

.header_left_content > a > img {
    width: 30px;
    height: 30px;
    padding-left: 15px;
}

.header_left_content > .page_name {
    color: #8519F9;
    font-size: 25px;
    padding-left: 20px;
    font-weight:900;
    text-decoration: none;
}

.header_center {
    display: flex;
    flex-direction: row;
    align-items : center;
}

.header_center_content {
    padding-left: 60px;
}

.header_right_content {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.header_right_content > button{
    width: 50px;
    height: 30px;

}
.header_right_content > button > span{
    font-size: 12px;
    color: #9F9F9F;
}

/* container */
.main_header {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
}

.workspace_name_wrap {
    width:90vw;
    padding-left: 30px;

}

.workspace_name {
    font-size: 25px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.create_project_btn {
    background-color: #8315F9;
    width: 140px;
    height: 30px;
    border: 1px solid #8315F9;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    margin-right: 30px;
}

.create_project_btn:hover {
    cursor: pointer;
    background-color: #965ED3;    
}

.main_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 6vw;
    margin-right: 6vw;
}

.project_instance_box {
    width: 40vw;
    height: 17vh;
    border: 2px solid #9F9F9F;
    border-radius: 12px;
    margin-bottom: 5vh;
}

.db_project_name {
    color: black;
    font-weight: 600;
}

.db_project_create_time {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
}




























/* modal창! */
#modal {
    position:absolute;
    display: flex;
    justify-content: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.4);
    display: none;

}
.modal_body{
    position:absolute;
    top:50%; 
    width:40vw;
    height:40vh;
    align-items: center;
    padding:40px;  

    background-color: rgb(255,255,255);
    border-radius:10px;
    box-shadow:0 2px 3px 0 rgba(34,36,38,0.15);
    transform:translateY(-50%);
}

.modal_form {
    display: flex;
    flex-direction: column;
}

.modal_form > label {
    font-size: 20px;
    color: #9F9F9F;
    margin-top: 50px;
    margin-bottom: 10px;
}
.assign_project {
    height: 3vh;
    border: 1px solid #9F9F9F;
    margin-bottom: 50px;
}

.modal_cancel_or_next {
    display: flex;
    align-items: center;
}

.modal_cancel_or_next > button {
    border: none;
    background-color: white;
    color: #9F9F9F;
    font-size: 15px;
}

.modal_cancel_or_next > button:hover {
    cursor: pointer;
}

.create_project_btn_form {
    margin-left: auto;
    background-color: #8315F9;
    width: 140px;
    height: 30px;
    border: 1px solid #8315F9;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    height: 40px;
}
