{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <link rel="stylesheet" href="{% static 'css/style_main.css' %}" />
    <title>Auto Labeling</title>
</head>
<body>
    <div class="header" role="banner">
        <div class="title">Auto Labeling</div>
    </div>
    <div id="container" role="main">
        <div class="left_side">
            <button class="top_btn">Point</button>
            <button class="top_btn">Box</button>
            <button class="bot_btn">Save</button>
            <button class="top_btn">Reset</button>
        </div> 
        <div class="main">
            <div class="image_display">
                <img class="img" id="img" style="width: 100%; height: 100%;" src="">
                <button onclick="changeImage(-1)">이전</button>
                <button onclick="changeImage(1)">다음</button>
            </div>
        </div>
        <div class="right_side"> 
            <div id="output">output : </div>
            <div class="right_side_component">
                <label for="right_side_component">Set Parameters for FastSAM</label>
                <select name="parameters" class="select" id="parameters" size="10" multiple>
                    <option value="javascript">JavaScript</option>
                    <option value="php">PHP</option>
                    <option value="java">Java</option>
                    <option value="golang">Golang</option>
                    <option value="python">Python</option>
                    <option value="c#">C#</option>
                    <option value="C++">C++</option>
                    <option value="erlang">Erlang</option>
                </select>
            </div>
            <div class="right_side_component">
                <label for="right_side_component">Label List</label>
                <select name="labels" class="select" id="labels" size="10" multiple>
                    <option value="javascript">JavaScript</option>
                    <option value="php">PHP</option>
                    <option value="java">Java</option>
                    <option value="golang">Golang</option>
                    <option value="python">Python</option>
                    <option value="c#">C#</option>
                    <option value="C++">C++</option>
                    <option value="erlang">Erlang</option>
                </select>
            </div>
            <div class="right_side_component">
                <label for="right_side_component">Object List</label>
                <select name="objects" class="select" id="objects" size="10" multiple>
                    <option value="javascript">JavaScript</option>
                    <option value="php">PHP</option>
                    <option value="java">Java</option>
                    <option value="golang">Golang</option>
                    <option value="python">Python</option>
                    <option value="c#">C#</option>
                    <option value="C++">C++</option>
                    <option value="erlang">Erlang</option>
                </select>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let formData = new FormData();

        var imageList = JSON.parse('{{ images|safe }}');
        var index = 0;  // Start from the first image

        var output = document.getElementById('output');
        var imgElement = document.getElementById('img');

        // 좌표를 저장할 두 개의 배열을 선언합니다.
        var points_dict = {};
        var points_list = [];
        var points_label = [];

        document.addEventListener("mousemove", logKey);
        
        window.onload = function() {
            // 첫 번째 이미지의 경로를 가져옵니다.
            var firstImagePath = imageList[0];

            // 이미지 요소에 첫 번째 이미지를 설정합니다.
            document.getElementById("img").src = firstImagePath;
            formData.append('currentimagepath', imageList[0]);
            fetch('work/', {
                method: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
                body: formData
            })
        }

        function changeImage(direction) {
            index = (index + direction + imageList.length) % imageList.length;  // 이미지 인덱스 변경
            document.getElementById("img").src = imageList[index];  // 이미지 변경
            formData.append('currentimagepath', imageList[index]);
            fetch('work/', {
                method: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                mode: 'same-origin',
                body: formData
            })
        }

        function logKey(e) {
            e.stopPropagation();
            output.innerHTML = `X/Y: ${e.clientX}, ${e.clientY}`;
        }

        document.getElementById('img').addEventListener("click",function logAndSubmit(e) {
            // 이미지의 원본 크기를 가져옵니다.
            var originalWidth = imgElement.naturalWidth;
            var originalHeight = imgElement.naturalHeight;

            // 이미지의 화면상의 크기를 가져옵니다.
            var displayWidth = imgElement.width;
            var displayHeight = imgElement.height;

            // 화면상의 클릭 좌표를 가져옵니다.
            var x = event.offsetX;
            var y = event.offsetY;
            
            // 화면상의 좌표를 원본 이미지의 좌표로 변환합니다.
            var originalX = x * (originalWidth / displayWidth);
            var originalY = y * (originalHeight / displayHeight);

            // Ctrl 키가 눌렸는지 확인하고, 눌렸다면 ctrlClickPoints에, 그렇지 않다면 noCtrlClickPoints에 좌표를 추가합니다.
            if(event.ctrlKey) {
                points_list.push([originalX, originalY]);
                points_label.push(0);
            } else {
                points_list.push([originalX, originalY]);
                points_label.push(1);
            }
            points_dict['points_list'] = points_list
            points_dict['points_label'] = points_label
            formData.append('points_dict', JSON.stringify(points_dict))
            // formData.append('clickX', originalX);
            // formData.append('clickY', originalY);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

            fetch('work/', {
                method: 'POST',
                body: formData
            })
            .then(data => {
                console.log('Success:', data);
                try {
                    // var output_imageList = '{{ output_images }}'
                    var output_imageList = JSON.parse('{{ output_images|safe }}');
                    console.log(output_imageList)
                    document.getElementById("img").src = output_imageList[0];
                } catch (e) {
                    console.error("Parsing error:", e);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
